body{
    background-color: aliceblue;
}
.top{
    background: linear-gradient(75deg, #05abe0 10%, #8200f4 100%);
}
#title{
    color: white;
    text-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 5px darkblue;
  }

  
  .navbar .navbar-nav .nav-link {
    margin-right: 35px; /*menubar space */
    font-size: 18px;  /*- Menu font-size-*/
    font-weight: 400;  /* Menu font weight*/
}
  .navbar .navbar-nav .nav-link.active {
    color: blue;  /* Active Menubar color*/
  }
  
@media (max-width: 1080px) {
    .navbar .navbar-nav {
    margin-top: 15px; /* topbar to Menubar*/
    border-top: 1px solid #e7bbbb; /* topbar underline*/
    }
  }
  
  @media (min-width: 992px) {
    .sticky-top {
      margin-top: -28px; /* Top to navbar*/
  }
  
  .navbar {
    height: 68px; /* Navbar height*/
  }
  
  .navbar .nav-item .dropdown-menu {
    display: block;
    border: 1px solid violet;
    margin-top: 0;
    top: 150%;
    opacity: 1;
    visibility: hidden;
    transition: .5s;
  }
  .navbar .nav-item:hover .dropdown-menu {
    top: 100%;
    visibility: visible;
    transition: .5s;
    opacity: 1;
          
  }
  }
